.example {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800';
@import 'assets/fontastic/styles.css';




*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;    
}

img{
    display: block;
    max-width: 100%;
}

body{ 
    margin: 0;
    padding: 0;
    float: left;
}

.conteudo{
    margin: auto;
    width: 95%;
}








.header{
    height: 50px;    
    background: #fff;
}

 .header .conteudo{
        
   background: #fff;
    float: left;
    width: 100%;
}

.logo{ 
    margin: 5px; 
    font-size: 20px;
    z-index: 100;
}

.logo img{
    width: 36%;
    margin: 0 0 0 5px;
}

.header .conteudo{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;    
    position: fixed;
    z-index: 100;    
}

.icon-menu{
    display: block;
    width: 42px;
    height: 40px;
    font-size: 25px;
    color: #fff;
    background: #000;
    text-align: center;
    line-height: 40px;
    padding: 5px;
    margin: 5px;
    margin-left: auto;
    cursor: pointer;
    z-index: 100;
}

.nav{
    position: absolute;
    top: 50px;
    left: -100%;
    width: 100%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s; 
    z-index: 100;
}


.menu{
    list-style: none;
    margin: 0;
    padding: 0;    
}

.menu li a{
    display: block;
    padding: 15px;
    background-color: rgba(0,0,0,0.9);
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    font-size: 15px;
    font-weight: 300;
}
.menu li a:hover{
    background-color: rgba(0,0,0,1);
    color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
}

.mostrar{
    left: 0;
}









.banner{
    margin-top: 0px;
    position: relative;    
}

.banner img{
    max-height: 715px;
    width: 100%;
}










.assistencia h1{
    font-size: 22px;
    color: #333;
    text-align: center;
    font-weight: 800;
}

.assistencia h2{
    font-size: 15px;
    color: #333;
    text-align: center;
    font-weight: 300; 
    margin: -5px 0 20px 0;
}






.assistencia-icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
        -ms-flex-direction:column;
            flex-direction:column;
    -ms-flex-wrap:wrap;
        flex-wrap:wrap;   
    -ms-flex-line-pack:center;   
        align-content:center;
}

.assistencia-icons a:hover{
    text-decoration: none;   
}

.assistencia-icons-blocos{
    width: 100%;
    padding: 10px 0 20px 0;    
    text-align: center;
}

.assistencia-icons-blocos:hover{
    background: #263645;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.assistencia-icons-blocos:hover .icon-laptop{
    color: #fff;
}

.assistencia-icons-blocos:hover .icon-desktop{
    color: #fff;
}


.assistencia-icons-blocos:hover .icon-mobile{
    color: #fff;
}


.assistencia-icons-blocos:hover .icon-wifi{
    color: #fff;
}


.assistencia-icons-blocos:hover .icon-server{
    color: #fff;
}

.assistencia-icons-blocos:hover p{
    color: #fff;
}


.assistencia-icons-blocos p{
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: 700;
    margin: -20px 0 0 0;
}

.icon-laptop{
    color: #333;
    font-size: 60px;
    text-align: center;
}

.icon-desktop{
    color: #333;
    font-size: 60px;
    text-align: center;
}

.icon-mobile{
    color: #333;
    font-size: 60px;
    text-align: center;
}

.icon-wifi{
    color: #333;
    font-size: 60px;
    text-align: center;
}

.icon-server{
    color: #333;
    font-size: 60px;
    text-align: center;
}




.ip{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    background: #00ABDC;
    padding: 10px;
    text-align: center;
    margin: 20px 0 0 0;
        border-radius: 5px;
}

.ip strong{
    font-weight: 800;
}









.sobrenos{
    background: url(assets/images/temp/bg-sobre.jpg) center center no-repeat fixed;
   
    
    margin: 20px 0;
    padding: 20px 0;
}

.sobrenos-titu{
    font-weight: 800;
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.sobrenos-txt{
    font-size: 15px;
    color: #fff;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    margin: 10px 0 0 0;
    text-align: center;
        border-radius: 5px;
}





.esp{
    padding: 10px 0;
}

.esp-titu{
    font-size: 22px;
    text-align: center;
    color: #333333;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.esp img{
    margin: auto;
}







.loja{
    padding: 20px 0;
    background: url(assets/images/temp/bg-loja.jpg) center center no-repeat fixed;
}

.loja-titu{
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 800;
}

.lojinha img{
    margin: auto;
}

.lojinha{
    text-align: center;
}

.lojinha a{
    text-decoration: none;
}

.lojinha a:hover{
    text-decoration: none;
}

.lojinha-titu{
    margin: 0 0 -10px 0;    
    display: block;
}

.lojinha-titu a{
    color: #174C88;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.lojinha-subtitu a{
    color: #3AADEF;
    font-size: 10px;
    text-align: center;
    padding: 0;
    text-decoration: none;
}






.contato{
    padding: 25px 0;
    background: #0B2440;
    margin: 20px 0;
}

.contato-titu{
    font-size: 20px;
    color: #fff;
    text-align: center;
    font-weight: 800;
}



.contato .btn{
    width: 140px;
    background: #174C89;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
}

.contato .btn:hover{
    -webkit-transition: all 0.4s;
    transition: all 0.4s;    
}


.contato .form-control{
    color: #004C76 !important;    
}







.end{
    padding: 10px 0;
}

.end-titu{
    font-size: 20px;
    color: #fff;
    background: #174C89;
    padding: 10px;
    text-align: center;
    font-weight: 800;
}


.end-flex{
    margin: 20px 0;
}

.end-blocos{
    text-align: center;
    width: 180px;    
    margin: 10px auto;
    font-size: 18px;
}

.icon-local{
    font-size: 50px;
}

.icon-whatsapp{
    font-size: 50px;
     color: #46B252;
}

.icon-time{
    font-size: 50px;
}

.end-phone1{
    color: #333333;
    font-size: 22px;
    font-weight: 800;
}

.end-phone2{
    color: #46B252;
    font-size: 22px;
    font-weight: 800;
}






.footer{
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    background: #343434;
}






.backtopo{ 
    width:50px; 
    height:50px; 
    background:url(assets/images/icon_back.png) no-repeat; 
    cursor:pointer; 
    position:fixed;
    z-index:1000; 
    bottom:20px; 
    right:10px; 
    display:none;
}
.backtopo:hover{ 
    /*background:url(assets/images/icon_back2.png) no-repeat;*/
    -webkit-transition: all 0.4s;
    transition: all 0.4s; 
}






/*RESPONSIVO 480*************************************************************************************************************************/
@media(min-width:480px){
    
    .logo img{
        width: 27%;
        margin: 2px 0 0 20px;
    }
    
    
  
    .contato-titu{
        margin: 0 0 20px 0;
    }
    
        
    
  
    
    
    
    
    
    
    
    
    
    .backtopo{ 
        width:50px; 
        height:50px; 
        background:url(assets/images/icon_back.png) no-repeat; 
        cursor:pointer; 
        position:fixed;
        z-index:1000; 
        bottom:60px; 
        right:40px; 
        display:none;
    }
    .backtopo:hover{ 
        /*background:url(assets/images/icon_back2.png) no-repeat;*/
        -webkit-transition: all 0.4s;
        transition: all 0.4s; 
    }
    
}








/*********************************************************************************/
@media(min-width:768px){
    
    .assistencia h1{
        font-size: 40px;        
    }

    .assistencia h2{
        font-size: 20px;        
    }
    
    
    
   .esp-titu{
       font-size: 40px;  
    }
    
    
  
    .esp{
        padding: 20px 0 40px 0;
    }   
      
    
    .loja{
        padding: 55px 0;       
    }

    .loja-titu{ 
        font-size: 40px;
    }
    
    .lojinha-titu{
        margin: 10px 0 0 0;
    }    
    
    .lojinha-titu a{        
        font-size: 40px;
        font-weight: 800;
    }

    .lojinha-subtitu a{        
        font-size: 23px;
        font-weight: 800;
    }
    
    
    
    
    
    
    .contato-titu{
        font-size: 40px;
    }
    
    
    
    .contato{
        padding: 40px 0 70px 0;
    }
    
    
    
    
    
    
    
    .end-titu{ 
        width: 600px;
        margin: 20px auto 30px auto;
        font-size: 40px;
    }
    
    .end-flex{
        display: flex;
    }
    
    .end-phone1{        
        font-size: 40px;        
    }

    .end-phone2{        
        font-size: 40px;        
    }
    
    .end-blocos-phone{        
        width: 400px !important;
    }
    
    
    
    .footer{        
        text-align: left;
        margin: 10px 0 0 0;
    }

    
    
    
    
}












/*********************************************************************************/
@media(min-width:1024px){ 
    
    

    
    
    header{
        background: #fff;
        float: left;
        width: 100%;
    }
    .header .conteudo{
        
        background: #fff;
        float: left;
        width: 100%;
    }
    
    .logo{
        margin: 30px 0 0 40px;
        width: 200px;
    }
    
    .logo img{
        width: 70%;
        margin: -20px 0 7px 40px;
    }
    
    
    
   
    
    
    
    
    
    
    
    .nav{
        position: static;
        width: auto;
        margin: 40px 0;
    }
    
    .icon-menu{
        display: none;
    }
    
    .menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: -25px 50px 0 0 !important;       
    }    
    
    
    

    .menu li a{
        background: none;        
        color: #333;        
        padding: 15px 12px;        
        text-decoration: none;       
        border-bottom: none;
        font-size: 14px;
        font-weight: 300;
    }
    
    .menu li a:hover{
        background: none;
        color: #00ABDC;
    }
    
    
    .menu li a:after{
        content: "";
        display: table;
        width: 0%;
        height: 1px;
        background: #00ABDC;
        margin: 5px auto 0;
        
        -webkit-transition: all 0.4s ease;
        
        transition: all 0.4s ease;
    }    
  
        
    .menu li a:hover:after{
        width: 60%;
        
    }
    
    
    
    
    .assistencia-icons{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; 
        -webkit-box-pack: justify; 
            -ms-flex-pack: justify; 
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .assistencia-icons-blocos{
        width: 100%;
        padding: 10px 20px 20px 20px;    
        text-align: center;
    }
    
    
    
    
    .assistencia h1{
        margin: 30px 0 0 0;
    }

    .assistencia h2{
        
        margin: 10px 0 40px 0;
    }

    
    
    .ip{
        width: 370px;
        margin: 20px auto;
    }  
    


    .ip strong{        
        font-size: 30px;
    }
    
    
    
    
   

  
    .sobrenos{
        padding: 60px 0;
        min-height: 560px;
    }

    .sobrenos-titu{
        font-size: 45px;
    }

    .sobrenos-txt{
        font-size: 25px;
        text-align: center;        
        padding: 15px;        
        margin: 50px auto 0 auto;
        width: 80%;
    }
    
    
    
    
    
    .contato{
        padding: 50px 0 70px 0;
    }
    
    .contato-titu{
        margin: 0 0 30px 0;
    }

    
    
    .contato .form-control{
        width: 300px;
    }

    .contato textarea{
        width: 100% !important;
    }

    .contato-exclusive{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }



    

}












@media(min-width:1280px){
    
  
    
    
    
   .header .conteudo{      
        height: 80px;
        background: #fff;
        float: left;
        width: 100%;
    }
    
    .logo img{
        
        margin: -20px 0 7px 70px;
    }
    
    .nav{
        margin: 40px 20px 40px 0;
    }
    
    
    
    
    .contato .form-control{
        width: 350px;
    }
    
    .contato-titu{
        margin: 0 0 45px 0;
    }

    
    
}
























